<?xml version="1.0" encoding="UTF-8"?>{% load staticfiles %}<html>
<head>
  <title>Code Carrots Koszalin</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
</head>
<body>
  <div class="page-header container">
    <img class="main-logo" src="{% static 'img/cc.jpg' %}" />
    <div class="row">
      <div class="col-md-5">
        <h1>
          <a href="/">Code Carrots</a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 menu">
        {% include "blog/menu/menu.html" %}
      </div>
    </div>
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% include "blog/footer/patronage.html" %}
    </div>
  </div>
  <div id="footer">
    Created by <a href="http://mrocznybibliotekarz.blogspot.com/">Agata Bublewicz</a> 2016
  </div>
</body>
</html>
